@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #0a1e8f;
  --color-dark: #070a0c;
}

body,
.App {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-dark);
  color: #fff;
}

button {
  border-radius: 4px;
}

.main {
  padding: 0 4rem;
}
